<%= content_for :sidebar do %>
  <div class="navigation">
    <ul>
      <% page.siblings.each do |page| %>
        <li>
          <%= link_to page, section_page_path(@section, page) %>
        </li>
      <% end unless page.is_root? %>

      <% page.children.each do |page| %>
        <li>
          <%= link_to page, section_page_path(@section, page) %>
        </li>
      <% end if page.has_children? %>
    </ul>
  </div>
<% end unless controller_name == 'sections' %>

<div class="article">
  <h3>
    <% unless controller_name == 'pages' %>
      <%= link_to page, section_page_path(@section, page) %>
    <% else %>
      <%= page %>
    <% end %>
  </h3>

  <div class="details">
    <span class="type pull-right">
      <%= @section %>
    </span>

    <span class="date">
      <%= l page.updated_at, :format => :long %>
    </span>
  </div>

  <div class="content">
    <%= markdown(page.content) %>

    <% if controller_name == 'pages' %>
      <%= render :partial => 'commons/typeform', :locals => { :page => page } %>

      <% if page.attachments.any? %>
        <% page.attachments.each do |attachment| %>
          <% if attachment.is_image? %>
            <%= image_tag attachment.file.url, :alt => page, :title => page %>
          <% elsif attachment.is_pdf? %>
            <iframe src="<%= attachment.file.url %>" style="width:813px; height:700px;" frameborder="0"></iframe>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% unless controller_name == 'pages' %>
    <div class="meta">
      <%= render :partial => 'commons/tags', :locals => { :page => page } %>
    </div>
  <% else %>
    <%= render :partial => 'commons/tags_with_likes', :locals => { :page => page } %>
  <% end %>

  <% unless controller_name == 'pages' %>
    <div class="btn-group">
      <%= link_to 'Подробнее', section_page_path(@section, page), :class => 'btn btn-default btn-sm' %>
    </div>
  <% end %>
</div>
