<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t('site_name'), root_path, :class => 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <% if can? :manage, :all %>
              <li><%= link_to 'Управление', manage_root_path %></li>
            <% end %>
            <% Section.ordered.each do |section| %>
              <li>
                <%= link_to section, section_path(section) %>
              </li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="profile">
                <%= image_tag current_user.gravatar_url %>
                <%= current_user.email %>
              </li>
              <li><%= link_to 'Выход', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li class="sign-in" role="presentation"><%= link_to 'Вход', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= content_tag :div, notice, :class => 'alert alert-success' if notice %>
      <%= content_tag :div, alert, :class => 'alert alert-danger' if alert %>

      <%= yield :navigation %>

      <%= yield :content %>
    </div>

  </body>
</html>
