<%= content_for :navigation do %>
  <div class="breadcrumb">
    <%= render_navigation :context => :manage, :renderer => :breadcrumbs, :join_with => ' / ' %>
  </div>
<% end %>

<%= content_for :content do %>
  <%= yield %>
<% end %>

<%= render :file => 'layouts/base' %>
